.menu {
  @apply lg:mb-10 animate-fade;

  &:not(:last-child) .heading {
    @apply mb-6;
  }

  &:last-child .heading {
    @apply mb-2;
  }

  .heading {
    @apply hidden lg:block text-gray-500 uppercase text-sm font-semibold pl-layout;
  }

  .ul {
    @apply flex justify-center gap-5 lg:flex-col;
    min-height: 50px;

    > li {
      @apply sm:px-6 flex items-center justify-center border-r-4 border-r-transparent transition-colors lg:justify-start;

      > a {
        @apply flex items-center  text-gray-600  cursor-pointer justify-center;

        > span {
          @apply ml-3 hidden lg:block text-lg hover:text-white;
        }

        > svg {
          @apply text-2lg text-gray-400 lg:text-gray-600;
        }

        > span,
        > svg {
          @apply transition-colors;
        }
      }

      &.active {
        @apply lg:border-r-sky-500;

        > a > span {
          @apply text-white;
        }

        > a > svg {
          @apply fill-sky-500;
        }
      }
    }
  }
}

.container {
  @apply flex justify-evenly sm:justify-center items-center lg:block;
  max-height: 75px;
  
  @media (min-width: 1024px) {
    max-height: 100%;
  }
}
