.list {
  @apply mt-11 animate-fade;

  .heading {
    @apply font-bold text-xl mb-5 text-white capitalize;
  }

  .link {
    @apply p-2.5 btn-primary block text-center cursor-pointer;
    width: 170px;
  }

  .item {
    @apply mb-4 flex items-stretch;

    > a {
      img {
        @apply rounded-image transition-colors;
        border: 1px solid transparent !important;
      }

      &:hover {
        img {
          border-color: #0ea5e9 !important;
        }
      }
    }

    .info {
      @apply ml-4 flex flex-col justify-between;
      width: 67%;

      .title {
        @apply text-white text-lg font-medium truncate;
      }

      .genres {
        @apply text-sm;
        color: #999999;

        > a {
          @apply transition-colors;

          &:hover {
            @apply text-gray-300;
          }
        }
      }

      .rating {
        @apply flex items-center mb-2;

        > svg {
          @apply fill-yellow-500 mr-2 text-lg;
        }

        > span {
          @apply text-white font-medium pt-0.5;
        }
      }
    }
  }
}
