$bar-width: 20%;

.layout {
  @apply relative;

  > nav,
  > aside {
    @apply fixed lg:top-0 bottom-0 overflow-y-scroll;
    width: $bar-width;
    @media (min-width: 1024px) {
      max-width: 350px;
    }
  }

  > nav {
    @apply left-0 bottom-0 z-10 border-r-gray-800 lg:border-r lg:bg-transparent;
    max-height: 75px;

    @media (min-width: 1024px) {
      max-height: 100%;
    }

    @media (max-width: 1023px) {
      width: 100vw;
      background-color: #1e2e53;
    }
  }

  > .center {
    @apply min-h-screen p-layout;

    @media (min-width: 1024px) {
      margin: 0 $bar-width;
    }
  }

  > aside {
    @apply right-0 border-l border-l-gray-800;
  }
}
